@page "/"

@*Inyectamos el HttpClient*@
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div style="margin-bottom: 20px; position:-ms-page;">
    <Carrousel></Carrousel>
</div>
<div>
    <Cartelera></Cartelera>
</div>

@*Validacion de conexion al servidor llamando al controlador UsuariosController*@
<br /> Estado de la conexion actual <br />
<p>@ConexionServidor</p>
<p>@ConexionUsuarios</p>

@code{
    string ConexionServidor = "En espera...";
    string ConexionUsuarios = "En espera...";

    async Task TestConection()
    {
        var respuesta = await Http.GetStringAsync("https://localhost:7264/api/Usuario/ConexionServidor");
        var respuestaUser = await Http.GetStringAsync("https://localhost:7264/api/Usuario/ConexionUsuarios");
        ConexionServidor = respuesta;
        ConexionUsuarios = respuestaUser;

    }

    protected override async Task OnInitializedAsync(){
        await TestConection();
    }
}

