@page "/"

<PageTitle>Home</PageTitle>

<div style="margin-bottom: 20px; position:-ms-page;">
    <Carrousel></Carrousel>
</div>
<div>
    <Cartelera></Cartelera>
</div>

<br />
Estado de la conexion local
<br />
<p>Conectando al servidor....</p>
<p>conectado a la base de datos de la tabla usuarios</p>
<p>conectando con la base de datos....</p>

@* @code
{
    string conexionServidor = "en espera";

    async Task Probarconecion()
    {
        var respuesta = await Http.GetStringAsync("api/Usuarios/ConexionServidor");
    }

    protected overrida asyn Task OneInitializedAsync()
    {
        await Probarconexion();
    }

} *@

